In [3]:
import pandas as pd

In [11]:
def openCsv(fileRoute):
    try:
        csvOpened = pd.read_csv(fileRoute)
        return csvOpened
    except Exception as e:
        print("Error al abrir el archivo:", e)
        return

In [12]:
data = openCsv('datos.csv')

In [14]:
data

      PM1.0  PM2.5  PM10   D.3   D.5  D1.0  D2.5  D5.0  D10     T     H
0        60     73    76  9384  2900   342    12     5    2  19.3  50.0
1        59     74    77  9399  2909   356    12     5    1  19.3  50.1
2        59     73    76  9405  2904   339    12     5    1  19.3  50.0
3        60     74    76  9513  2933   324    12     4    1  19.3  50.0
4        60     74    76  9513  2931   324    11     4    1  19.3  49.9
...     ...    ...   ...   ...   ...   ...   ...   ...  ...   ...   ...
1995     11     13    13  1773   543    53     1     0    0  19.2  46.9
1996     11     13    13  1773   543    53     1     0    0  19.3  46.9
1997     11     13    13  1773   543    53     1     0    0  19.3  46.9
1998     10     12    12  1704   523    50     1     0    0  19.3  46.9
1999     10     12    12  1704   523    50     1     0    0  19.3  46.9

[2000 rows x 11 columns]

In [16]:
from scipy.signal import find_peaks

In [25]:
results =  find_peaks(data['PM1.0'], distance=20)
results

(array([  49,  183,  519,  607, 1393], dtype=int64),
 {'peak_heights': array([226., 172., 220., 139., 158.])})

In [72]:
allpeaks2 = find_peaks(data['PM1.0'], distance=20)
allpeaks = find_peaks(data['PM1.0'], distance=20)[0][:-6:-1]

In [73]:
allpeaks

array([1994, 1969, 1943, 1897, 1860], dtype=int64)

In [74]:
allpeaks2

(array([  12,   49,   94,  117,  157,  183,  204,  244,  264,  302,  327,
         351,  375,  409,  437,  493,  519,  540,  586,  607,  634,  658,
         685,  726,  748,  770,  800,  823,  845,  875,  928,  968,  997,
        1018, 1051, 1075, 1095, 1132, 1159, 1179, 1231, 1264, 1286, 1308,
        1352, 1393, 1452, 1472, 1495, 1519, 1556, 1593, 1627, 1653, 1675,
        1713, 1733, 1753, 1810, 1860, 1897, 1943, 1969, 1994], dtype=int64),
 {})

In [77]:
data.iloc[1][0]

59.0